body{

}
.wrap{
max-width:550px;
border-radius:20px;
margin:auto;
background: rgba(0,0,0,0.8);
padding:70px;
color:#fff;
margin-top:20px;
}
h2{
align-items:center;

}
input[type=text], input[type=password]{
width:100%;
box-sizing:border-box;
padding:12px 5px;
background:rgba(0,0,0,0.8);
outline:none;
border:none;
border-bottom:1px dotted #fff;
color:#fff;
border-radius:20px;
font-size:20px;
font-weight:bold;
}
input[type=submit]{
width:100%;
box-sizing:border-box;
padding:10px 0;
background:rgba(0,0,0,0.10);
outline:none;
border:none;
border-radius: 20px;
font-size:20px;
margin: 10px;
color:#fff;
font-weight:bold;

}
input[type=submit]:hover{
background:#003366;
opacity:0.7;

}
